@import url("https://fonts.googleapis.com/css?family=Carter+One|Roboto:400,700");
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

nav {
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.24);
  display: block;
}
nav #nav-container {
  margin: 5px 30px;
  display: flex;
  justify-content: space-between;
}
nav #nav-container #logo {
  width: 40px;
  height: 40px;
}
nav #nav-container #nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav #nav-container #nav-links .link {
  margin: 0 10px;
  height: fit-content;
  font-size: 25px;
  font-family: "Carter One", cursive;
  color: white;
}

#hero {
  width: 100%;
  height: 100vh;
  background-image: url(./Img/Background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#hero #hero-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}
#hero #hero-container .title {
  margin: 0;
  color: white;
  font-size: 78px;
  font-family: "Carter One", cursive;
  display: block;
  text-align: center;
}
#hero #hero-container .sub {
  font-size: 30px;
  padding-top: 15px;
}
#hero #page-down-icon {
  display: block;
  height: 50px;
  width: auto;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
}

.heading {
  font-family: "Carter One", cursive;
  font-size: 50px;
  color: #545454;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

#about .description {
  font-size: 24px;
  width: 100%;
  max-width: 716px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #707070;
}
#about .sub-heading {
  font-family: "Carter One", cursive;
  font-size: 40px;
  color: #707070;
  text-align: center;
  margin: 30px 0;
}
#about #interests-container {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
}
#about #interests-container .interest {
  padding: 0 20px;
  width: 325px;
}
#about #interests-container .interest .interest-header {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #545454;
}
#about #interests-container .interest .interest-info {
  font-size: 18px;
  text-align: center;
  color: #707070;
}

#skills {
  background-color: #8B8B8B;
  height: fit-content;
}
#skills .heading {
  color: white;
  margin: 0;
  padding-bottom: 0;
}
#skills #skills-container {
  display: grid;
  width: 850px;
  height: 270px;
  min-height: fit-content;
  margin: 0 auto;
  padding: 20px 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  grid-template-areas: "Html Html Html Html Html Html Html Html Html Html Html Html" "CSS CSS CSS CSS CSS CSS CSS CSS CSS CSS CSS CSS" "Bootstrap Bootstrap Bootstrap Responsive Responsive Responsive Animation Animation Animation SCSS SCSS SCSS" "Javascript Javascript Javascript Javascript Javascript Javascript Javascript Javascript Javascript Javascript Javascript Javascript" "Node Node Node Node React React React React Express Express Express Express" "Github Github Github Github Github Github Git Git Git Git Git Git";
}
#skills #skills-container .skill {
  background-color: #292929;
  border: 2px solid #292929;
  display: flex;
  transition: 0.5s;
}
#skills #skills-container .skill p {
  text-align: center;
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
#skills #skills-container .skill:hover {
  background-color: #686868;
}
#skills #skills-container .Html {
  grid-area: Html;
}
#skills #skills-container .CSS {
  grid-area: CSS;
}
#skills #skills-container .Bootstrap {
  grid-area: Bootstrap;
}
#skills #skills-container .Responsive {
  grid-area: Responsive;
}
#skills #skills-container .Animation {
  grid-area: Animation;
}
#skills #skills-container .SCSS {
  grid-area: SCSS;
}
#skills #skills-container .Node {
  grid-area: Node;
}
#skills #skills-container .React {
  grid-area: React;
}
#skills #skills-container .Express {
  grid-area: Express;
}
#skills #skills-container .Github {
  grid-area: Github;
}
#skills #skills-container .Git {
  grid-area: Git;
}
#skills #skills-container .Javascript {
  grid-area: Javascript;
}

#projects #project-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#projects #project-container .project {
  width: 250px;
  height: fit-content;
  margin: 10px 0;
  border: 1px solid #5454547a;
}
#projects #project-container .project .project-header {
  width: 100%;
  height: 34px;
  color: #545454;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}
#projects #project-container .project .project-img {
  width: 100%;
  height: auto;
}
#projects #project-container .project .project-description {
  margin: 0;
  padding: 0 10px;
  font-size: 20px;
  color: #545454;
  text-align: center;
}
#projects #project-container .project .button-container {
  display: flex;
  justify-content: space-around;
  height: fit-content;
  padding: 10px;
}
#projects #project-container .project .button-container .button {
  width: 100px;
  min-width: fit-content;
  height: 50px;
  background-color: #222222;
  outline: none;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  transition: 0.5s;
}
#projects #project-container .project .button-container .button:hover {
  background-color: #7a7a7a;
  cursor: pointer;
}

#contact {
  background-color: #8B8B8B;
  height: 500px;
}
#contact .heading {
  color: white;
}
#contact #icon-container {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: 0 auto;
}
#contact #icon-container .icon {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}
#contact #email {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;
}
#contact #email #title {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
#contact #email #body {
  font-size: 20px;
  color: white;
}

@media (max-width: 700px) {
  #about #interests-container {
    flex-direction: column;
  }
  #about #interests-container .interest {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 0;
    margin: 0 auto;
  }
  #about #about .description {
    width: 100%;
  }
}
@media (max-width: 870px) {
  #skills #skills-container {
    width: 100%;
    max-width: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 45px);
    grid-template: "Html" "CSS" "Bootstrap" "Responsive" "Animation" "SCSS" "Javascript" "Node" "React" "Express" "Github" "Git";
  }
}

/*# sourceMappingURL=index.css.map */
